.popularSection
{
    font-family: var(--f_general);
    border-radius: 20px;
    padding: 15px 5px;
}

.popularSection h2
{
    font-size: 48px;
    text-align: center;
}

/*! Grid*/

.popularSection .popular-grid
{
    margin: 25px;
    display: grid;
    gap: 0.35rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

/*! Product */

.popularSection .popular-grid .product 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 250ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.popularSection .popular-grid .product:hover 
{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.03);
}
 
@media screen and (min-width: 600px)
{
    .popularSection .popular-grid .product-tall
    {
       grid-row: span 2 / auto;
    }
    
    .popularSection .popular-grid .product-wide
    {
       grid-column: span 2 / auto;
    }
}

/*! Product content */

.popularSection .product a
{
    width: 100%;
    height: 100%;
}

.popularSection .product .invisibleParent
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 2;
}

.popularSection .product .invisibleParent .infoContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    
    background-color: var(--c_header_footer);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: none;

    opacity: 0;
    transition: opacity 100ms ease;
}

.popularSection .product:hover .infoContainer
{
    opacity: 1;
}

.popularSection .product .invisibleParent .infoContainer h3
{
    width: 80%;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    margin: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popularSection .product .invisibleParent .infoContainer h5
{
    width: 25%;
    font-size: 12px;
    font-weight: 200;
    text-align: right;
    padding-right: 10px;
}