.recommendedSection
{
    background: url('https://i.pinimg.com/originals/39/f5/70/39f570a5f25eb6a004fc857283540168.png');
    background-attachment: fixed;
    background-repeat: round;
    font-family: var(--f_general);
    /* border-radius: 20px; */
    padding: 15px 15px;
    /* margin: 0px 10px; */
    background-blend-mode: soft-light;
    background-size: cover;
    padding-bottom: 50px;
}

.recommendedSection h3
{
    background-color: var(--c_squares);
    color: black;
    border-radius: 15px;
    padding: 20px;
}

.recommendedSection h2
{
    font-size: 48px;
    text-align: center;
}

/*! Grid*/

.recommendedSection .recommended-grid
{
    /* margin: 25px; */
    display: grid;
    gap: 0.75rem;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 200px;
    background-color: #00000080;
    padding: 15px;
    border-radius: 10px;
}

@media screen and (min-width: 424px)
{
    .recommendedSection .recommended-grid
    {
        margin: 25px;
    }
}

@media screen and (min-width: 424px)
{
    .recommendedSection .recommended-grid
    {
        grid-auto-rows: 300px;
    }
}

/*! Product */

.recommendedSection .recommended-grid .productContainer
{
    transition: all 90ms;
    box-shadow: rgba(3, 8, 20, 0) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0) 0px 0.075rem 0.175rem;
    padding: 5px;
    background-color: rgba(199, 10, 126, 0);
    border-radius: 10px;
}

.recommendedSection .recommended-grid .productContainer:hover 
{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.03);
    background-color: var(--c_squares);
}

.recommendedSection .recommended-grid .productContainer .product 
{
    background: #353535;
    font-size: 3rem;
    color: #fff;
    height: 80%;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recommendedSection .recommended-grid .productContainer .product:hover
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-property: border-bottom-left-radius, border-bottom-right-radius;
    transition-duration: 90ms;
    transition-timing-function: ease;
}

.recommendedSection .recommended-grid .productContainer .product .link
{
    display: block;
    width: 100%;
    height: 100%;
}
 
@media screen and (min-width: 600px)
{
    .recommendedSection .recommended-grid .productContainer .product-tall
    {
       grid-row: span 2 / auto;
    }
    
    .recommendedSection .recommended-grid .productContainer .product-wide
    {
       grid-column: span 2 / auto;
    }
}

.recommendedSection .recommended-grid .productContainer .productInfo
{
    /* background-color: var(--c_header_footer); */
    color: white;
    padding-top: 10px;
    opacity: 100%;
    height: 70px; /* delete? */
    transform: translateY(-1px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition-property: height, border;
    transition-duration: 250ms;
    transition-timing-function: ease;
    text-align: left;

    pointer-events: none;
}

.recommendedSection .recommended-grid .productContainer:hover > .productInfo h5
{
    font-weight: 800;
    color: black;
    
}
.recommendedSection .recommended-grid .productContainer .productInfo h5
{
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.recommendedSection .recommended-grid .productContainer .product:hover + .productInfo
{
    opacity: 100;
    height: fit-content;
}