.tagsSection
{
    width: 100vw;
    background-color: var(--c_header_footer);
    padding: 10px;
}

.tagsSection h2
{
    font-family: var(--f_general);
    font-weight: 900;
    color: white;
    text-align: center;
}

/*!!!!!!!!!!!!!!!!!! Tag container      */

.tagsSection .tagContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    padding: 25px;
    gap: 2px;
}

.tagsSection .tag
{
    position: relative;
    width: 245px;
    height: 425px;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 8px;
    overflow: hidden;

    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.tagsSection .tag:hover
{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.03);
    transition: all 250ms;
}


/*!!!!!!!!!!!!!!!!!! Tag Image      */

.tagsSection .tag img
{
    position:relative;
    width: 100%;
    height:100%;
    opacity: 75%;
    z-index: 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);

    transition-property: filter, opacity, zoom;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.tagsSection .tag img:hover
{
    opacity: 90%;
}

.tagsSection .tag:hover > img
{
    filter: blur(0px);
}

.tagsSection .tag:hover + .favButtonContainer
{
    transform: translateY(-10px) scale(1.1);
    transition: all 250ms ease;
}

.tagsSection .favButtonUnselected:hover, 
.tagsSection .tag:hover + .favButtonContainer .favButtonUnselected
{
    opacity: 100%;
}

/*!!!!!!!!!!!!!!!!!! Tag name & fav icon      */

.tagsSection .tag .tagName
{
    width: 100%;
    height: 0;
    overflow: visible;
    position:relative;
    top: 45%;
    z-index: 1;
    text-shadow: var(--shadow_xpos) var(--shadow_ypos) var(--c_header_footer);

    pointer-events: none; /*! Con esto no interrumpe el hover*/
}

.tagsSection .favButtonContainer
{
    position: relative;
    height: 0;
    width: 0;
    top: 10px;          /** -10 */
    right: 30px;        /** -5 */
    scale: 1;
    overflow:visible;
}

.tagsSection .favButtonContainer .favButton
{
    position: absolute;
    color: white;
    z-index: 1;
}

.favButtonUnselected
{
    opacity: 0;
}

/*!!!!!!!!!!!!!!!!!! Tag glow effect      */

.tagsSection .tag::before
{
    background: radial-gradient(600px circle at var(--glow_xpos) var(--glow_ypos), rgba(255, 255, 255, 0.1), transparent 40%);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    
    border-radius: inherit;
    opacity: 0%;
    transition: opacity 100ms;

    pointer-events: none; /*! Con esto no interrumpe el hover*/
}

.tagsSection .tag:hover::before
{
    opacity:100%;
}