<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Shinsekai</title>
</head>

<body class="cart">
    <section class="cart__title">
        <button>Volver</button>
        <h3>Carrito de compras</h3>
    </section>
    <section class="cart__list">
        <a href="#" class="cart__list__product">
            <img class="product--img" src="" alt="producto-img">
            <p class="product--name">Nombre del producto</p>
            <p class="product--price">$99.99</p>
            <button class="product--delete">Eliminar</button>
            <button class="product--amountButton">-</button>
            <p class="product--amount">1</p>
            <button class="product--amountButton">+</button>
        </a>
        <a href="#" class="cart__list__product">
            <img class="cart__list__product--img" src="" alt="producto-img">
            <p class="product--name">Nombre del producto</p>
            <p class="product--price">$99.99</p>
            <button class="product--delete">Eliminar</button>
            <button class="product--amountButton">-</button>
            <p class="product--amount">1</p>
            <button class="product--amountButton">+</button>
        </a>
        <a href="#" class="cart__list__product">
            <img class="cart__list__product--img" src="" alt="producto-img">
            <p class="product--name">Nombre del producto</p>
            <p class="product--price">$99.99</p>
            <button class="product--delete">Eliminar</button>
            <button class="product--amountButton">-</button>
            <p class="product--amount">1</p>
            <button class="product--amountButton">+</button>
        </a>
    </section>
    <section class="cart__pago">
        <div class="cart__pago__discount">
            <p>Cupón de descuento</p>
            <button>Adherir cupón</button>
        </div>
        <div class="cart__pago__subtotal">
            <p>Sub-total</p>
            <p>$99.99</p>
        </div>
        <div class="cart__pago__total">
            <p>Total</p>
            <p>$99.99</p>
        </div>
        <div class="cart__pago__payment">
            <button>Iniciar compra</button>
            <button>Seguir comprando</button>
        </div>
        <hr>
        <p>Productos que pueden interesarte</p>
        <a href="#" class="cart__pago__related">
            <img class="product--img" src="" alt="producto">
            <p class="product--name">Nombre del producto</p>
            <p class="product--price">$99.99</p>
        </a>
        <button class="product--button">Añadir al carrito</button>
    </section>
</body>

</html>