<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <title>Shinsekai</title>
</head>
<body class="cart">
    <header class="cart__header"></header>
    <main class="cart__main"></main>
    <footer class="cart__footer"></footer>
</body>
</html>