<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Shinsekai</title>
</head>

<body class="details">
    <header-component></header-component>
    <main class="details__main">
        <div class="details__main__photo-detail">
        <div class="details__main--photo">
            <div class="details__main--preview">
                <img src="/img/caja.jpg" alt="">
                <img src="/img/caja.jpg" alt="">
                <img src="/img/caja.jpg" alt="">
                <img src="/img/caja.jpg" alt="">
            </div>
            <div class="details__main--max">
                <img src="/img/caja.jpg" alt="">
            </div>
        </div>
        <article class="details__main--detail">
            <div class="details__main--sar">
                <div class="details__main--stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Reseña de producto</p>
            </div>
            <h3>Nombre del producto</h3>
            <h4 class="details__main--price">$999.99</h4>
            <div class="details__main--chart">
                <h5>Tabla de talles</h5>
                <form action="" method="POST">
                    <select name="Talle"  value="Talle">
                        <option class="form__option" value="-1" disabled selected hidden>Selecciona talle...</option>
                        <option class="form__option" value="1">XS</option>
                        <option class="form__option" value="2">S</option>
                        <option class="form__option" value="3">M</option>
                        <option class="form__option" value="4">L</option>
                        <option class="form__option" value="5">XL</option>
                        <option class="form__option" value="6">XXL</option>
                        <option class="form__option" value="7">XXXL</option>
                        <option class="form__option" value="8">4XL</option>
                    </select>
                </form>
            </div>
            <div class="details__main--add-to-cart">
                <button class="details__main--add-to-cart--button"  type="submit">Agregar al carrito   <i class="fa-solid fa-cart-shopping"></i></button>
                <form class="details__main--form">
                    <button class="btn-plus" onclick="decrementar()">-</button>
                    <input class="number_view" type="text" value="0" id="item" name="item" disabled>
                    <button class="btn-min" onclick="incrementar()">+</button>
                </form>
            </div>
            <div class="details__main--prod-detail">
                <h4>Detalle del producto</h4>
                <p class="details__main--prod--text">Albion Online es un MMORPG no lineal multiplataforma ambientado en un mundo de fantasía medieval. El
                    juego cuenta con una economía impulsada por los jugadores en la que casi todos los objetos son
                    fabricados por ellos. Combina las armas y armaduras que le convengan a tu estilo de juego en un
                    sistema único y sin clases en donde “eres lo que llevas”. Explora el mundo, enfréntate a otros
                    aventureros en emocionantes batallas, conquista territorios y construye un hogar.</p>
            </div>
            <div class="details__main--share">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share-nodes"></i>
            </div>
        </article>
    </div>
        <div class="details__main--prod-rel">
            <h3>productos relacionados</h3>
            <div class="details__main--prod-rel--image">
                    <img src="/img/caja.jpg" alt="">
                    <img src="/img/caja.jpg" alt="">
                    <img src="/img/caja.jpg" alt="">
                    <img src="/img/caja.jpg" alt="">
            </div>
        </div>
        <div class="details__main--QaA">
            <div class="details__main--QaA--title">
            <h3>Preguntas y respuestas </h3>
            <i class="fa-solid fa-messages-question"></i>
            </div>
            <form action="">
                <textarea name="Pregunta" cols="30" rows="2" placeholder="Escriba su pregunta" style="resize: none;"></textarea>
                <button class="details__main--QaA-btn" type="submit">enviar</button>
            </form>
            <img src="/img/timmy.jpg" alt="">
        </div>
    </main>
    <footer-component></footer-component>
</body>

</html>