<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Shinsekai - Continuar con la compra</title>
</head>
<body class="payment">
    <header-component></header-component>

    <main class="payment__main">
        <section class="payment__main__topButtons">
            <a class="payment__main__topButtons__back" href="#">
                <i class="fa-solid fa-left-long"></i> 
                <h4>Volver al inicio</h4>
            </a>
            <h4>Pago rápido</h4>
            <div class="payment__main__topButtons__choices">
                <button class="payment__main__topButtons__choices--choice">
                    <img src="" alt="MercadoPago">
                    <b>Mercado pago</b>
                </button>
                <button class="payment__main__topButtons__choices--choice">
                    <img src="" alt="GooglePay">
                    <b>Google Pay</b>
                </button>
                <button class="payment__main__topButtons__choices--choice">
                    <img src="" alt="Paypal">
                    <b>Paypal</b>
                </button>
            </div>
        </section>

        <section class="payment__main__info">
            <article class="payment__main__info__amount">
                <img class="payment__main__info__amount--img" src="" alt="imagenDeProducto">
                <div class="payment__main__info__amount__list">
                    <div class="payment__main__info__amount__list__product">
                        <div class="payment__main__info__amount__list__product__column">
                            <a href="#"><h4>Nombre del producto</h3></a>
                            <p>Cantidad</p>
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio unitario</h3>
                            <p>$9999.99</p>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio total</h3>
                            <p>$9999.99</p>
                        </div>
                    </div>
                    <div class="payment__main__info__amount__list__product">
                        <div class="payment__main__info__amount__list__product__column">
                            <a href="#"><h4>Nombre del producto</h3></a>
                            <p>Cantidad</p>
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio unitario</h3>
                            <p>$9999.99</p>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio total</h3>
                            <p>$9999.99</p>
                        </div>
                    </div>
                    <div class="payment__main__info__amount__list__product">
                        <div class="payment__main__info__amount__list__product__column">
                            <a href="#"><h4>Nombre del producto</h3></a>
                            <p>Cantidad</p>
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio unitario</h4>
                            <p>$9999.99</p>
                        </div>
                        <div class="payment__main__info__amount__list__product__column">
                            <h4>Precio total</h4>
                            <p>$9999.99</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="payment__main__info__payment">
                <div class="payment__main__info__payment__left">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido">
                    <label for="dni">DNI</label>
                    <input type="text" name="dni">
                    <div class="payment__main__info__payment__left__location">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" name="ciudad">
                        <label for="provincia">Provincia</label>
                        <input type="text" name="provincia">
                    </div>
                </div>
                <div class="payment__main__info__payment__right">
                    <label for="numTarjeta">N° Tarjeta</label>
                    <input type="text" name="numTarjeta">
                    <label for="titular">Titular</label>
                    <input type="text" name="titular">
                    <div class="payment__main__info__payment__left__location">
                        <label for="vtoTarjeta">VTO</label>
                        <input type="text" name="vtoTarjeta">
                        <label for="pinTarjeta">PIN</label>
                        <input type="text" name="pinTarjeta">
                    </div>
                </div>
            </article>
        </section>

        <section class="payment__main__total">
            <h3>Total</h3>
            <div class="payment__main__total__row">
                <h5>Producto</h4>
                <h5>Cantidad</h4>
                <h5>Total</h4>
            </div>
            <div class="payment__main__total__row">
                <p>Nombre de producto</p>
                <p>Cantidad</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Nombre de producto</p>
                <p>Cantidad</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Nombre de producto</p>
                <p>Cantidad</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Nombre de producto</p>
                <p>Cantidad</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Nombre de producto</p>
                <p>Cantidad</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Envío</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Descuento</p>
                <p>$9999.99</p>
            </div>

            <hr>

            <div class="payment__main__total__row">
                <p>IVA</p>
                <p>$9999.99</p>
            </div>
            <div class="payment__main__total__row">
                <p>Otras cosas</p>
                <p>$9999.99</p>
            </div>

            <hr>
            
            <div class="payment__main__total__row">
                <p>Total</p>
                <p>$9999.99</p>
            </div>

            <button class="payment__main__total__pay">Finalizar compra</button>
        </section>
    </main>

    <footer-component></footer-component>
</body>
</html>