<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <title>Shinsekai</title>
</head>
<body class="register">
    <header-component></header-component>
    <main class="register__main">
        <h3>Bienvenido</h3>
        <hr>
        <section class="register__main__section__general">
            <form action="">
                <div class="form__box">
                    <input class="form__input" type="image" id="image">
                    <label class="form__label" for="image">Adjuntar imagen</label>
                </div>
                    <div class="form__box">
                        <label class="form__label" for="nombre">Nombre:</label>
                        <input class="form__input" type="text" id="nombre">
                    </div>
                    <div class="form__box">
                        <label class="form__label" for="apellido">Apellido:</label>
                        <input class="form__input" type="text" id="apellido">
                    </div>
                    <div class="form__box">
                        <label class="form__label" for="email">Usuario:</label>
                        <input class="form__input" type="email" id="email">
                    </div>
                    </div>
                    <div class="form__box">
                        <label class="form__label" for="email">Email:</label>
                        <input class="form__input" type="email" id="email">
                    </div>
                    <div class="form__box">
                        <label class="form__label" for="password">Contraseña:</label>
                        <input class="form__input" type="password" id="password">
                    </div>
                    <div class="form__box">
                        <label class="form__label" for="password2">Confirma contraseña:</label>
                        <input class="form__input" type="password" id="password2">
                    </div>  
            </form>
        </section>
        <hr>
        <section class="register__main__section__quick">
            <div class="form__box">
                <button  class="form__button--send" type="submit">Google</button>
                <button  class="form__button--send" type="submit">Facebook</button>
                <button  class="form__button--send" type="submit">Twiter</button>
            </div>
        </section>
        <section class="register__main__section__send">
            <div class="form__box">
                <input class="form__checkbox" type="checkbox" id="terminos">
                <label for="terminos">Acepto los términos y condiciones</label>
            </div>
            <div class="form__box">
                <a href="" class="form__button--cancel">Cancelar</a>
                <button  class="form__button--send" type="submit">Registrate</button>
            </div>
        </section>
    </main>
    <footer-component></footer-component>
</body>
</html>