

/*! ////// MAIN ////// */
.details__main
{
    background-color: var(--c_bg);
    padding: 3%;
}

/* Photo */
.details__main--photo{
    gap: 5px;
}

.details__main--preview{
    display: flex;
    flex-direction: row;
    flex-wrap: unwrap;
    width: 100%;
    overflow-x: auto;
    gap: 10px;
}

.details__main--preview img{
    width: 23%;
}

.details__main--max{
    width: 100%;
    margin-top: 10px;
}

.details__main--max img{
    width: 100%;
}

/* Prod Detalles */

/* Reseña y estrellas */
.details__main--detail{
    margin-top: 10px;
    background-color: var(--c_squares);
    border-radius: 15px;
    
}

.details__main--sar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 15px 5px;
}

.details__main--stars{
    display: flex;
    flex-direction: row;
    width: 35%;
    
}
.details__main--stars i{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light_font);
    width: 30%;
    display: flex;
}

.details__main--detail p{
    color: var(--light_font);
    font-weight: 600;
    width: 60%;
    justify-content: center;
}

/* Nombre y Precio */
.details__main--detail h3{
    text-align: center;
    color: var(--light_font);
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 15px;
}

.details__main--price{
    color: var(--light_font);
    font-weight: 900;
    padding: 15px;
}

/* Tabla de talles */
.details__main--chart h5{
    color: var(--light_font);
    font-weight: 100;
    font-style: italic;
    text-align: right;
    padding-right: 15px;
    font-size: var(--fs_p);
}
.details__main--chart form{
    width: 100%;
    padding: 2px 15px 15px
}
.details__main--chart form select{
    width: 100%;
    border: solid 1px var(--light_font);
    border-radius: 5px;
    text-align: center;
}

.details__main--add-to-cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px 15px;
}

.details__main--add-to-cart--button{
    background-color: var(--c_buttons);
    color: var(--c_font);
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    width: 65%;
    font-size: 15px;
}

.details__main--add-to-cart form{
    width: 32%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2%;
}

.details__main--add-to-cart form button{
    border: none;
}

.number_view{
    width: 36%;
    text-align: center;
}
.btn-plus .btn-min{
    width: 5%;
    border: none;
}

/* Detalle del producto */

.details__main--prod-detail h4{
    text-align: center;
    color: var(--light_font);
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 15px;
}

.details__main--prod-detail p{
    text-align: center;
    color: var(--light_font);
    padding-bottom: 15px;
    font-size: 10px;
    width: 100%;
    padding: 0 15px 0 15px;
}

/* Compartir y guardar */
.details__main--share{
    padding-left: 5%;
    padding-bottom: 10%;
}

.details__main--share i{
    padding: 2%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light_font);
    font-size: 20px;
    color: var(--light_font) ;
}

/* Productos relacionados */

.details__main--prod-rel h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.details__main--prod-rel--image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.details__main--prod-rel--image img{
    width: 23%;
}

/* Preguntas y Respuestas */
.details__main--QaA h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.details__main--QaA--title i{
    color: var(--c_font);
}

.details__main--QaA form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.details__main--QaA form textarea{
    width: 100%;
    border-radius: 5px;
    background-color: var(--c_font);
}

.details__main--QaA-btn{
    border: none;
    border-radius: 5px;
    background-color: var(--c_buttons);
    text-align: center;
    color: var(--c_font);
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

.details__main--QaA img{
    width: 100%;
}


/* Tablet */

@media (min-width: 426px)  
{
    .details__main__photo-detail{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .details__main--photo{
        width: 52%;
    }

    .details__main--detail{
        width: 46%;
        margin-top: 0;
    }
    .details__main--detail h3 {
        font-size: 32px;
    }

    .details__main--share{
        padding-bottom: 2%;
    }
}

/* Desktop */

@media (min-width: 769px) {
    .details__main__photo-detail{
    margin-top: 25px;
    }

    .details__main--sar{
        padding: 15;
    }

    .details__main--stars{
        font-size: 25px;
    }

    .details__main--detail p{
        text-align: end;
        font-size: 25px;
    }

    .details__main--detail h3{
        font-size: 45px;
    }

    .details__main--detail h4{
        font-size: 30px;
    }

    .details__main--prod-detail{
        font-size: 25px;
    }

    .details__main--prod-detail p{
        text-align: start;
        font-size: 19px;
    }
    
    .details__main--chart select{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .details__main--add-to-cart{
        justify-content: space-between;
    }

    .details__main--add-to-cart--button{
        padding: 10px;
    }

    .details__main--share {
        padding-top: 10%;
        padding-left: 5%;
        padding-bottom: 1%;
    }

    .details__main--share i{
        font-size: 35px;
    }
}