:root
{
    /*! -- Paletas de colores -- */
    /** Dark */
    --dark_bg: #292F36;
    --dark_header_footer: #C70A80;
    --dark_buttons: #590696;
    --dark_squares: #FBCB0A; 
    --dark_font:#F7FFF7;

    /** Light */
    --light_bg: #F7FFF7;
    --light_header_footer: #4ECDC4;
    --light_buttons: #FF6B6B;
    --light_squares: #FFE66D;
    --light_font:#292F36;

    /*! -- Tipo de Fuentes -- */
    --f_logo: 'Inter';
    --f_general: 'Mulish';

    /*! -- Tamaño de fuente -- */
    --fs_h1: 44px;
    --fs_h2: 40px;
    --fs_h3: 36px;
    --fs_h4: 24px;
    --fs_h5: 20px;
    --fs_p: 18px;
}

*
{
    box-sizing: border-box;
    margin: 0;
}

.invalid
{
    color: red;
}

.valid
{
    color: green;
}

body
{
    font-family: var(--f_general);
    background-color: var(--c_bg);
}

a, h1, h2, h3, h4, h5, p, b, i, span, em, strong, small, sub, sup, label
{
    color: var(--c_font);
}

h1
{
    font-family: var(--f_logo);
    font-size: var(--fs_h1);
    text-transform: uppercase;
    font-weight: 900;
}

h2
{
    font-size: var(--fs_h2);
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
}

h3
{
    font-size: var(--fs_h3);
    text-transform: capitalize;
    font-weight: 700;
}

h4
{
    font-size: var(--fs_h4);
    text-transform: capitalize;
    font-weight: 500;
}

h5
{
    font-size: var(--fs_h5);
    font-weight: 500;
}

p{
    font-size: var(--fs_p);
    font-weight: 300;
}

input
{
    outline: none;
}

button
{
    border: none;
}

button:hover
{
    cursor: pointer;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

ol, ul
{
    padding:0px;
}

textarea {
    resize: none;
}

.errorMsg
{
    width: fit-content;
    font-weight: 500;
    color: red;
    font-size: 12px;
    margin: 0 0 15px 15px;
}

/** Custom scrollbar **/
::-webkit-scrollbar 
{
    width: 10px;
    height: 12px;
}
  
::-webkit-scrollbar-track 
{
    background: var(--light_bg);
}
  
::-webkit-scrollbar-thumb 
{
    background: var(--c_header_footer);
}
  
::-webkit-scrollbar-thumb:hover 
{
    background: var(--dark_bg);
}

