/** CSS */
@import '/glider-js/glider.css';
@import '/stylesheets/home/banner.css';
@import '/stylesheets/home/tags.css';
@import '/stylesheets/home/popular.css';
@import '/stylesheets/home/recommended.css';

.home__main
{
    overflow: hidden;
    text-align: center;
    background-color: var(--dark_bg);
}

/* .home__main section
{
    margin-bottom: 40px;
} */