.login__header__logo
{
    background-color: var(--c_header_footer);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.login__header__logo img
{
    display: none;
}

.login__header__logo h1
{
    font-size: var(--fs_h2);
}

/*! ////// MAIN ////// */
.login__main 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--c_squares);
    margin: 20px;
    border-radius: 10px;
}

.login__main h4
{
    color: var(--c_font);
    border-bottom: 1px solid var(--c_font);
    width: 130px;
    text-align: center;
    margin: 15px;
    padding-bottom: 5px;
    
}  

.login__main__section__general
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;  
}

.form__text--error
{
    padding-bottom: 10px;
}

.form__box--item
{
   padding: 5px; 
}

.login__main__section__general--quick
{
    border-top: 1px solid var(--c_buttons);
    margin: 20px;
}

.login__main__section__footer 
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.login__main__section__footer a
{
    margin: 5px;
}
.form__button--cancel
{
    text-align: center;
    margin-bottom: 10px;
    padding-left: 10px;
}

/*! ////// FOOTER ////// */

.login__footer 
{
    background-color: var(--c_header_footer);
    text-align: center;
    padding: 10px;
}


.login textarea:focus, .login input:focus
 {
    outline: none;
 }

/*! |||||||||||| Media Queries [ Afecta según la anchura/dispositivo que se use ] */
@media (min-width: 426px)  /** Tablet y Desktop - CSS aquí dentro solo afecta a anchura 426 o mayor */
{
    .login__header__logo
    {
        justify-content: flex-start;
        padding-left: 10px;
    }

    .login__header__logo img
    {
        display: flex;
        width: 90px;
        margin-right: 10px;
        margin-left: 25px;
    }

    .login__main
    {
        margin: 20px 30px;
    }
    .login__main__section
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       width: 100%;
       justify-content: space-evenly;
    }

    .login__main__section__general
    {
        width: 50%;
    }

    .login__main__section__general--quick
    {
        padding-top: 15px;
    }

    .login__main__section__footer
    {
       width: 40%;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       margin-bottom: 20px;
       margin-right: 50px;
    }

    .login__main__section__footer a 
    {
        margin: 15px;
    }
}

@media (min-width: 769px) /** Desktop - CSS aquí dentro solo afecta a anchura 769 o mayor */
{
    .login__header__logo
    {
        justify-content: center;
    }

    .login__main 
    {
        margin: 30px 80px;
    }

    .login__footer
    {
       padding-top: 15px;
    }
}



