.users__list p, .users__list b, .users__list a, .users__list i
{
    color: var(--c_bg);
}

.users__list .isAdmin
{
    color: var(--c_header_footer)
}

.users #title
{
    text-align: center;
    margin: 45px 0 15px;
}

.users__list
{
    background-color: var(--dark_squares);
    padding: 20px;
    margin: 2px auto 20px auto;
    max-width: 1200px;
    border-radius: 15px;
}

.users__list button
{
    background-color: transparent;
    border: none;
}

.users__list
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.users__list__user
{
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 20px 0;
    background-color: var(--c_font);
    border-radius: 50px;
}

.users__list__user img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.users__list__user .cosarara
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.users__list__user .buttons
{
    display: flex;
    justify-self: flex-end;
    margin-right: 25px;
}

@media (max-width: 800px)
{
    .hideMobile
    {
        display: none;
    }
}