<html lang="en">
    <%- include('./partials/head') %>  
<body class="eric">
    <header class="eric__header"></header>
    <main class="eric__main"></main>
    <footer class="eric__footer"></footer>
</body>
</html>