<html lang="en">
    <%- include('./partials/head', 
    {
        title: 'Home'
    }) %>   
<body class="home">
    <%- include('./partials/header') %> 
    <main class="home__main">
        <a class="home__main__banner" href="/details"><img src="/img/banner1.png" alt="banner1"></a>
        <div class="home__main__showcase">
            <section class="home__main__showcase__rebajas">
                <h3>Rebajas</h3>
                <a href="/details"><img src="/img/sale.png" alt="sale1"></a>
                <a href="/details"><img src="/img/sale.png" alt="sale2"></a>
                <a href="/details"><img src="/img/sale.png" alt="sale3"></a>
            </section>
            <section class="home__main__showcase__populares">
                <h3>Productos populares</h3>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto1">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto2">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto3">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto4">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
            </section>
        </div>
        
        <a class="home__main__banner" id="banner2" href="/details"><img src="/img/banner2.png" alt="banner2"></a>
        <section class="home__main__carrousel">
            <a href="#"><img src="/img/category.png" alt="producto1"></a>
            <a href="#"><img src="/img/category.png" alt="producto2"></a>
            <a href="#"><img src="/img/category.png" alt="producto3"></a>
            <a href="#"><img src="/img/category.png" alt="producto4"></a>
            <a href="#"><img src="/img/category.png" alt="producto5"></a>
        </section>

        <div class="home__main__infinite">
            <h3>Recomendaciones para tí</h3>
            <section class="home__main__infinite__recomendaciones">
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto1">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto2">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto3">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto4">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto5">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto6">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto7">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto8">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
                <a class="home__producto" href="/details"><img src="/img/product.jpg" alt="producto9">
                <div class="home__producto__nameContainer">
                    <h4>Poster - De birras con los profes</h4>
                </div> 
            </a>
            </section>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>
