<html lang="en">

<%- include('./partials/head',) %>  

<body class="cart">
    <header-component></header-component>
    <main class="cart__main">
        <section class="cart__title">
            <a href="/"><i class="fa-solid fa-left-long"></i></a>
            <h3>Carrito de compras</h3>
        </section>
        <section class="cart__list">
            <div class="product__container">
                <a href="#" class="cart__list__product">
                    <img class="cart__list__product--img" src="/img/product--img.png" alt="producto-img">
                    <div class="cart__list--product-form">
                        <div class="cart__list__product--name--price">
                            <p class="product--name">Nombre del producto</p>
                            <p class="product--price">$99.99</p>
                        </div>
                        <div class="cart_list__form">
                            <form class="cart__list--form">
                                <button class="button-plus" onclick="decrementar()">-</button>
                                <input class="button-number" type="text" value="0" id="item" name="item" disabled>
                                <button class="button-min" onclick="incrementar()">+</button>
                            </form>
                            <a class="product--delete"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="product__container">
                <a href="#" class="cart__list__product">
                    <img class="cart__list__product--img" src="/img/product--img.png" alt="producto-img">
                    <div class="cart__list--product-form">
                        <div class="cart__list__product--name--price">
                            <p class="product--name">Nombre del producto</p>
                            <p class="product--price">$99.99</p>
                        </div>
                        <div class="cart_list__form">
                            <form class="cart__list--form">
                                <button class="button-plus" onclick="decrementar()">-</button>
                                <input class="button-number" type="text" value="0" id="item" name="item" disabled>
                                <button class="button-min" onclick="incrementar()">+</button>
                            </form>
                            <a class="product--delete"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="cart__pago">
            <div class="cart__pago__discount">
                <input class="cart-discount" type="text" placeholder="Cupon de descuento" name="">
                <button>Adherir cupón</button>
            </div>
            <div class="cart__pago__subtotal">
                <p class="cart__pago-subtotal">Sub-total</p>
                <p class="cart__pago__price">$99.99</p>
            </div>
            <hr>
            <div class="cart__pago__total">
                <p class="cart__pago-total">Total</p>
                <p class="cart__pago__price">$99.99</p>
            </div>
            <div class="cart__pago__payment">
                <button><a href="/products/payment">Iniciar compra</a></button> 
                <a class="continue--shopping--button">Seguir comprando</a>
            </div>
            <hr class="cart__line">
            <div class="cart__related__container">
                <p class="quick--add--to--bag">Productos que pueden interesarte</p>
                <article class="related">
                    <img src="/img/product--img.png" alt="productimg">
                    <div class="related_product-info">
                        <p>Nombre de producto</p>
                        <p>$99.99</p>
                        <button>Añadir al carrito</button>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer-component></footer-component>
</body>

</html>