<html lang="en">
    <%- include('./partials/head',
    {
        title: 'Payment'
    }) %>  
<body class="payment">
    <%- include('./partials/header') %> 

    <main class="payment__main">
        <section class="payment__main__topButtons">
            <a class="payment__main__topButtons__back" href="/">
                <i class="fa-solid fa-left-long"></i> 
                <h4>Volver al inicio</h4>
            </a>
            <h4>Pago rápido</h4>
            <div class="payment__main__topButtons__choices">
                <button class="payment__main__topButtons__choices--choice">
                    <img src="/img/mercadopago.png" alt="MercadoPago">
                    <b>Mercado pago</b>
                </button>
                <button class="payment__main__topButtons__choices--choice">
                    <img src="/img/gpay.png" alt="GooglePay">
                    <b>Google Pay</b>
                </button>
                <button class="payment__main__topButtons__choices--choice">
                    <img src="/img/paypal.png" alt="Paypal">
                    <b>Paypal</b>
                </button>
            </div>
        </section>

        <div id="payment__main__div">
            <section class="payment__main__info">
                <article class="payment__main__info__amount">
                    <img class="payment__main__info__amount--img" src="/img/product.jpg" alt="imagenDeProducto">
                    <div class="mobile-info">
                        <h4>Producto</h4>
                        <h4>Cantidad</h4>
                        <h4>P. Unitario</h4>
                        <h4>p. Total</h4>
                    </div>
                    <hr>
                    <div class="payment__main__info__amount__list">
                        <div class="payment__main__info__amount__list__product">
                            <div class="payment__main__info__amount__list__product__column">
                                <a href="#"><h4>Nombre del producto</h4></a>
                                <p class="desktop-cantidad">Cantidad</p>
                                <div class="amount">
                                    <button>-</button>
                                    <p>1</p>
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio unitario</h4>
                                <p>$9999.99</p>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio total</h4>
                                <p>$9999.99</p>
                            </div>
                        </div>
                        <div class="payment__main__info__amount__list__product">
                            <div class="payment__main__info__amount__list__product__column">
                                <a href="#"><h4>Nombre del producto</h4></a>
                                <p class="desktop-cantidad">Cantidad</p>
                                <div class="amount">
                                    <button>-</button>
                                    <p>1</p>
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio unitario</h4>
                                <p>$9999.99</p>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio total</h4>
                                <p>$9999.99</p>
                            </div>
                        </div>
                        <div class="payment__main__info__amount__list__product">
                            <div class="payment__main__info__amount__list__product__column">
                                <a href="#"><h4>Nombre del producto</h4></a>
                                <p class="desktop-cantidad">Cantidad</p>
                                <div class="amount">
                                    <button>-</button>
                                    <p>1</p>
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio unitario</h4>
                                <p>$9999.99</p>
                            </div>
                            <div class="payment__main__info__amount__list__product__column">
                                <h4 class="desktop-precio">Precio total</h4>
                                <p>$9999.99</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="payment__main__info__payment">
                    <div class="payment__main__info__payment__left">
                        <div class="field">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre">
                        </div>
                        <div class="field">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido">
                        </div>
                        
                        <div class="field">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" name="ciudad">
                        </div>

                        <div class="field">
                            <label for="provincia">Provincia</label>
                            <input type="text" name="provincia">
                        </div>
                    </div>
                    <div class="payment__main__info__payment__right">
                        <div class="field">
                            <label for="dni">DNI</label>
                            <input type="text" name="dni">
                        </div>
                        <div class="field">
                            <label for="numTarjeta">N. Tarjeta</label>
                            <input type="text" name="numTarjeta">
                        </div>
                        <div class="field">
                            <label for="titular">Titular</label>
                            <input type="text" name="titular">
                        </div>
                        <div class="shared-fields">
                            <div class="field">
                                <div class="field">
                                    <label for="vtoTarjeta">VTO</label>
                                    <input type="text" name="vtoTarjeta">
                                </div>
                            </div>
                            <div class="field">
                                <div class="field">
                                    <label for="pinTarjeta">PIN</label>
                                    <input type="text" name="pinTarjeta">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
    
            <section class="payment__main__total">
                <h3>Total</h3>
                <div class="payment__main__total__titles">
                    <h5 class="column-element1">Producto</h4>
                    <h5 class="column-element2">Total</h4>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Nombre de producto (#)</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Nombre de producto (#)</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Nombre de producto (#)</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Nombre de producto (#)</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Nombre de producto (#)</p>
                    <p class="column-element2">$9999.99</p>
                </div>
    
                <br>
    
                <div class="payment__main__total__row">
                    <p class="column-element1">Envío</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Descuento</p>
                    <p class="column-element2">$9999.99</p>
                </div>
    
                <hr>
    
                <div class="payment__main__total__row">
                    <p class="column-element1">IVA</p>
                    <p class="column-element2">$9999.99</p>
                </div>
                <div class="payment__main__total__row">
                    <p class="column-element1">Otras cosas</p>
                    <p class="column-element2">$9999.99</p>
                </div>
    
                <hr>
                
                <div class="payment__main__total__row">
                    <p class="column-element1">Total</p>
                    <p class="column-element2">$9999.99</p>
                </div>
    
                <button class="payment__main__total__pay"><a href="/">Finalizar compra</a></button>
            </section>
        </div>
        
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>