<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    <title>Shinsekai</title>
</head>

<body class="register">
    <header class="register__header">
        <a href="/" class="register__header__logo">
            <img src="/img/logo.png" alt="logo">
            <h1>Shinsekai</h1>
          </a>
      </header>

    <main class="register__main">
        
        <h4>Bienvenido</h4>
          
        <form for="" class="register__main__section" novalidate>
                
            <section class="register__main__section--quick">
                    <button class="form__button--quick" type="submit"><i class="fa-brands fa-google"></i></button>
                    <button class="form__button--quick" type="submit"><i class="fa-brands fa-facebook-square"></i></i></button>
                    <button class="form__button--quick" type="submit"><i class="fa-brands fa-twitter"></i></button>
                </section>

            <section class="register__main-extra">

                <div class="form__box--user"><i class="fa-solid fa-user"></i>
                    <input class="form__button--user" type="file" id="user" ></div>
                    <small class="form__text--error">Eligue un usuario</small>

         <section class="register__main__section--general">

                    <div class="form__box--campo">
                        <i class="fa-solid fa-user"></i><input class="form__input" type="text" placeholder="Nombre" name="searchInput" id="name" for="text">
                    </div>
                    <small class="form__text--error">El nombre es obligatorio</small>

                    <div class="form__box--campo">
                        <i class="fa-solid fa-user"></i><input class="form__input" type="" placeholder="Apellido" id="apellido" name="lastName">
                    </div>
                    <small class="form__text--error">El apellido es obligatorio</small>

                    <div class="form__box--campo">
                        <i class="fa-solid fa-at"></i><input class="form__input" type="email" placeholder="Email" id="email" name="email">
                    </div>
                    <small class="form__text--error">El email es obligatorio</small>

                    <div class="form__box--campo">
                        <i class="fa-solid fa-user"></i><input class="form__input" type="text" placeholder="Usuario" name="searchInput" id="name" for="text">
                    </div>
                    <small class="form__text--error">El usuario es obligatorio</small>
    
                    <div class="form__box--campo">
                        <i class="fa-solid fa-lock"></i><input class="form__input" type="password" placeholder="Contraseña" id="password" name="password">
                    </div>
                    <small class="form__text--error">El password debe contener entre 6 y 12 caracteres</small>
    
                    <div class="form__box--campo">
                        <i class="fa-solid fa-lock"></i><input class="form__input" type="password" placeholder="Confirmar contraseña" id="password2">
                    </div>
                    <small class="form__text--error">Las contraseñas no coinciden</small>

                </section>

                <section class="register__main__section--send">

                    <div class="form__box--item">
                        <input class="form__checkbox" type="checkbox" id="terminos">
                        <label for="terminos">Acepto los términos y condiciones</label>
                    </div>

                        <button  class="form__button--send" type="submit">Registrate</button>
                        
                        <a href="" type="reset" class="form__button--cancel">Cancelar</a>

                </section>
            </section>
            </form>
    </main>
    <footer class="register__footer">
        <h5>© Shinsekai</h5>
        <p>Derechos reservados</p>
    </footer>
</body>
</html>