<section class="bannerSection">
    <div class="glider">
      <a href="#"><img src="./img/banner1.png" alt="banner"></a>
      <a href="#"><img src="./img/banner2.png" alt="banner"></a>
      <a href="#"><img src="./img/banner3.png" alt="banner"></a>
    </div>

    <div class="bannerNav">
      <div data-index="0" class="bannerBar bannerBarSelected"></div>
      <div data-index="1" class="bannerBar"></div>
      <div data-index="2" class="bannerBar"></div>
    </div>

    <div class="arrowContainer">
        <div class="bannerArrows">
            <div class="bannerPrev"></div>
            <div class="bannerNext"></div>
        </div>
    </div>
</section>

<script src="./javascript/home/loadGlider.js"></script>