<section class="tagsSection">
    <h3>¿Te interesa?</h3>

    <div class="tagContainer">
      <% tags.forEach((tag, i) => { %>
        <a href="/search?tag=<%= tag.id %>" class="tag">
          <h2 class="tagName"><%= tag.name %></h2>   
          <img src="./img/tags/<%= checkImg.forTag(tag.imageFilename) %>"  alt="tag_img">
        </a>
      <% }) %>
    </div>
</section>

<script src="./javascript/home/glowEffect.js"></script>