<section class="tagsSection">

    <div class="tagContainer">
      <% tags.forEach((tag, i) => { %>
        <a href="#" class="tag">
          <h2 class="tagName"><%= tag.name %></h2>   
          <img src="./img/tags/<%= checkImg.forTag(tag.img) %>"  alt="tag_img">
        </a>
        <div class="favButtonContainer">
          <% if (tag.fav) { %>
            <i class="fa-solid fa-heart favButton clickable"></i>
          <% } else { %>
            <i class="fa-regular fa-heart favButton favButtonUnselected clickable"></i>
          <% } %>
        </div>
      <% }) %>
    </div>
</section>

<script src="./javascript/home/favButtons.js"></script>
<script src="./javascript/home/glowEffect.js"></script>