<div id="MICArt" class="MICArt">
    <div class="MICArt__content">

        <div class="cart__main">
            <section class="cart__title">
                <span class="close--MICArt"><i class="fa-solid fa-left-long"></i></span>
                <h3>Carrito de compras</h3>
            </section>
            <section class="cart__list" id="cart__list">
                <!-- aca agregame a mica triste -->







                
            </section>
            <hr>
            
            <div class="cart__pago__total">
                <p class="cart__pago-total">Total</p>
                <p class="cart__pago__price" id="totalPrice">$0</p>
            </div>
            <div class="cart__pago__payment">
                <button><a href="/products/payment">Iniciar compra</a></button>
            </div>
            <div class="cart__pago__payment">
                <button onclick="removeAllItems()">Vaciar Carrito</button>
            </div>
            <hr class="cart__line">
         </section>
        </div> 
    </div> 


    
</div>


<!-- !!! Scripts !!! -->
<script src="/javascript/MICArt_modal.js"></script>