<div id="MICArt" class="MICArt">
    <div class="MICArt__content">

        <div class="cart__main">
            <section class="cart__title">
                <span class="close--MICArt"><i class="fa-solid fa-left-long"></i></span>
                <h3>Carrito de compras</h3>
            </section>
            <section class="cart__list" id="cart__list">
                <!-- aca agregame a mica triste -->
                <!-- <div class="cart__product">
                    <a href="http://localhost:4000/products/details/11">
                        <img class="cart__product--img" src="http://localhost:4000/img/products/product-1669246304844.jpg" alt="">
                        <div>
                            <p>Nombre del producto</p>
                            <p>$666</p>
                        </div>
                    </a> -->






                
            </section>
            <hr>
            
            <div class="cart__pago__total">
                <p class="cart__pago-total">Total</p>
                <p class="cart__pago__price" id="totalPrice">$0</p>
            </div>
            <div class="cart__pago__payment">
                <button><a href="/products/payment">Iniciar compra</a></button>
                <button onclick="removeAllItems()" style="color: var(--light_bg);">Vaciar Carrito</button>
            </div>
            </div>
         </section>
        </div> 
    </div> 


    
</div>


<!-- !!! Scripts !!! -->
<script src="/javascript/MICArt_modal.js"></script>