<div id="MICArt" class="MICArt">
    <div class="MICArt__content">

        <div class="cart__main" id="cartMain">
            <section class="cart__title">
                <span class="close--MICArt"><i class="fa-solid fa-left-long"></i></span>
                <h3>Carrito de compras</h3>
            </section>
            <section class="cart__list" id="cart__list">
                <!-- aca agregame a mica triste -->
            </section>
            <div id="cartOptions">
                <!-- agregar buttons y total -->
            </div>
        </div> 
    </div> 
    
</div>


<!-- !!! Scripts !!! -->
<script src="/javascript/MICArt_modal.js"></script>