<html lang="en">
<head>
    <%- include('./partials/head', { title: 'Perfil' }) %>
</head>
<body>
<header>
    <%- include('../partials/header') %> 
</header>
<main>
<!-- Imagen y Nombre de perfil -->
<div>
    <img src="/img/users/AvatarDefault.jpeg" alt="">
    <h3>Nombre Generico</h3>
    <p><a href=""></a><i class="fa-sharp fa-solid fa-pen">>Editar</i</p>
</div>
</main>
<footer>
    <%- include('../partials/footer') %> 
</footer>
</body>
</html>